@import '../../components/variables.css';

.root {
  margin: 0 auto;
  width: 100%;
}

.container {
  display: inline-block;
  max-width: var(--max-content-width);
}

.daySpread {
  padding-top: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box;
  width: calc(100vw - 1.5rem);
  height: calc(100vw - 1.5rem);
  transform-origin: center;
  transform: rotate(-90deg);
}

.date {
  font-family: 'Open sans';
  color: #fff;
  font-size: 1.5em;
  position: absolute;
  padding: 0.2em;
  font-weight: 300;
  letter-spacing: 2px;
  display: none;
}

@media only screen and (min-width: 768px) {
  .container {
    width: calc(100% - 50px);
  }
  .date {
    display: block;
  }
  .daySpread {
    width: calc(100% / 7);
    height: calc(100vw / 7);
    display: inline-block;
    transform: none;
  }
}

.blue {
  background-color: #273580;
}

.cyan {
  background-color: #4db2df;
}

.red {
  background-color: #e30613;
}

.orange {
  background-color: #f28d11;
}

.yellow {
  background-color: #fde254;
}

.green {
  background-color: #008d36;
}

.pink {
  background-color: #eb5a8c;
}

.purple {
  background-color: #662483;
}
