.root {
  margin: 0;
  float: right;
}

.icon {
  display: inline-block;
  width: 44px;
  vertical-align: middle;
  margin: 0 1rem;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
  &:hover {
    opacity: 0.6;
  }
}

.label {
  display: none;
}

.divider {
  font-size: 44px;
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (min-device-width: 320px)  and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .root {
    position: fixed;
    bottom: 0!important;
    left: 0!important;
    top: initial;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 999;
    width:90%;
    margin:0;
    height:92px;
    margin: 0;
    padding: 4px 5% 0px 3%;
  }

  .icon {
    width: 40px;
    float: left;
    padding: 0 0.6em;
    border: 0;
  }

  .label {
    font-weight: 300;
    font-size: 0.9em;
    letter-spacing: 1px;
    color: #fff;
    padding: 0 0.6em;
  }

  .icon .label {
    display: inline;
  }

  .divider {
    display: none;
  }
}