@import '../variables.css';

.root {
	position: relative;
}

.month {
  font-family: 'Open Sans';
  font-weight: 300;
  color: #878787;
  font-size: 1.5em;
  margin: 1rem 0;
  display: inline-block;
  position: relative;
  padding-left: 0.75rem;
}

@media only screen and (min-width: 768px) {
  .root {
    width: 50px;
    display: inline-block;
    vertical-align: top;
  }
  .month {
    transform-origin: top left;
    transform: rotate(-90deg);
    left: 0.375rem;
    bottom: -calc(100vw / 7);
    margin: 0;
  }
}